/* BACKGROUND */
.bg_fondo_dark {
    background-color: #263238;
}

.bg_title_tabla {
    background-color: #607d8b;
    color: rgba(255,255,255,0.8);
    border-color: black;
}

.bg_fondo_tabla {
    background-color: #cfd8dc;
}

.bg_fondo_form_user {
    background-color: rgba( 69, 179, 157,0.5);
}
/* TEXTO */
.text_dark {
    color: #263238;
}

.text-green-dark {
    color: #00251a;
}
