@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "HelpDesk - Nuevo Ticket";
}
<div class="container row text-dark col-md-6 bg-gray-300 p-5 mx-auto mt-5 rounded">
    <div class="my-5 h3 mx-auto"><b><i class="fas fa-file-alt text-danger"></i> Nuevo Ticket</b></div>
    <div class="h5 col-md-12">
        Seleccione el tipo de servicio.
    </div>

    <select class="custom-select custom-select-lg">
        <option value="value">Soporte Tecnico</option>
    </select>

    <div class="h5 col-md-12 mt-3">
        Seleccione la modalidad.
    </div>

    <select class="custom-select custom-select-lg">
        <option value="value">Soporte Tecnico</option>
    </select>
    <div class="h5 col-md-12 mt-3">
        Seleccione la empresa.
    </div>

    <select class="custom-select custom-select-lg">
        <option value="value">Soporte Tecnico</option>
    </select>


    <div class="h5 col-md-12 mt-3">
        Comentarios 
    </div>

    <textarea cols="5" class="form-control form-control-lg" placeholder="Describa su problema"></textarea>
    
    <div class="btn btn-block btn-success py-2 mt-5">
        GUARDAR
    </div>

</div>
