<div class="container row text-dark col-md-6 bg-gray-300 p-5 mx-auto mt-5 rounded">
    <div class="my-3 h3 mx-auto"><b><i class="fas fa-file-alt text-danger"></i> Nuevo Ticket</b></div>
    <div class="h6 col-md-12">
        Seleccione el tipo de servicio.
    </div>
    <select class="custom-select custom-select-sm">
        <option value="value">Soporte Tecnico</option>
    </select>
    <div class="h6 col-md-12 mt-3">
        Seleccione la modalidad.
    </div>
    <select class="custom-select custom-select-sm">
        <option value="value">Soporte Tecnico</option>
    </select>
    <div class="h6 col-md-12 mt-3">
        Seleccione la empresa.
    </div>
    <select class="custom-select custom-select-sm">
        <option value="value">Soporte Tecnico</option>
    </select>
    <div class="h6 col-md-12 mt-3">
        Comentarios 
    </div>
    <textarea cols="5" class="form-control form-control-sm" placeholder="Describa su problema"></textarea>
    <div class="btn btn-block btn-success py-2 mt-5">
        GUARDAR
    </div>
</div>
