<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="~/Content/img/technics.png" />
    <link href="~/Content/vendor/fontawesome-free/all.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/main/sb-admin-2.css" />
    <link rel="stylesheet" href="~/Content/main/Colores.css" />
    <link rel="stylesheet" href="~/Content/animate.css" />
    <script defer type="text/javascript" src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script defer type="text/javascript" src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer type="text/javascript" src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script defer type="text/javascript" src="~/Scripts/login/main.js"></script>
</head>
<body class=" bg_fondo_dark">
    <div class="container bg_fondo_dark">
        @RenderBody()
    </div>
</body>
</html>
